<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>cars</display-name>

  <servlet>
    <description></description>
    <display-name>CarsServlet</display-name>
    <servlet-name>CarsServlet</servlet-name>
    <servlet-class>com.book.servlet.CarsServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>CarsServlet</servlet-name>
    <url-pattern>/CarsServlet</url-pattern>
  </servlet-mapping>
</web-app>